<div [formGroup]="form">
  <div @fadeInUp class="card flex-auto">
    <div class="px-3 py-2 flex flex-col">
      <div class="p-1 flex flex-row sm:flex-row gap-2 container">
        <vex-standart-autocomplete
          class="basis-1/2"
          [isArticle]="true"
          [parentForm]="form"
          fieldId="_id"
          fieldDisplayed="designation"
          libelle="Article"
          keyOfForm="article"
          (newItemEvent)="newItemEvent($event)"
          [modeReturnObjet]="true"
          [items]="allArticles"
          [value]="form.controls['article'].value"></vex-standart-autocomplete>

        <mat-form-field class="basis-60">
          <mat-label>QTE1 ({{ form.controls['unite1'] && form.controls['unite1'].value ? form.controls['unite1'].value.libelle : 'unite 1' }})</mat-label>
          <input
            class="right-aligned-input"
            cdkFocusInitial
            formControlName="quantiteUnite1"
            matInput
            appMontantDecimaNumber
            (change)="changeQuantite1()"
            [readonly]="!form.controls['isQte1'].value"

          />
        </mat-form-field>

        <!-- quantite2 n'a pas un champs property coté backend   "-->

        <mat-form-field class="basis-60">
          <mat-label>QTE2 ({{ form.controls['unite2'] && form.controls['unite2'].value ? form.controls['unite2'].value.libelle : 'unite 2' }})</mat-label>
          <input
            class="right-aligned-input"
            cdkFocusInitial
            formControlName="quantiteUnite2"
            matInput
            appMontantDecimaNumber
            (change)="changeQuantite2()"
            [readonly]="
              form.controls['unite2'] &&
               form.controls['unite2'].value &&
                form.controls['isQte2'].value
                 ? false : true"
          />
        </mat-form-field>
        <button
          color="primary"
          mat-flat-button
          type="button" (click)="addNewLigne()"
          class="button-ligne-article">
          Ajouter Ligne Article
          <mat-icon svgIcon="mat:arrow_downward"></mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>

  <vex-liste-ligne-document-sorties
    [allArticles]="allArticles"
    [documentOriginal]="documentOriginal"
    [lignes]="lignes"
    (newItemEvent)="misajourLignes($event)"></vex-liste-ligne-document-sorties>
