<vex-page-layout>
  <vex-page-layout-header style="height: 20px;" class="pb-3 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-6]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <br>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-6]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

    <div class="card p-2 mb-1 grid grid-cols-1 sm:grid-cols-2 {{ this.selectedListModeReglement && this.selectedListModeReglement.length > 0 && this.selectedListModeReglement.indexOf('1') == -1 ? 'md:grid-cols-4' : 'md:grid-cols-6' }} gap-1 w-full -mt-3 container">

      <date-range-picker labelTextRange="Période règlement" (selectedDateRange)="set_SelectedDateRange($event)">
      </date-range-picker>

      <vex-filtre-autocomplet-select-all  style="width: 100%;" [labelText]="labelTextCT"
        [selectedDatas]="dataTypeTiers" [selectedKey]="selectedKey" [selectedVal]="selectedVal"
        [isSelectedItems]="preSelectedCT" (selectedList)="set_SelectedListModeReglement($event)">
      </vex-filtre-autocomplet-select-all>

      <date-range-picker *ngIf="this.selectedListModeReglement && this.selectedListModeReglement.length > 0 && this.selectedListModeReglement.indexOf('1') == -1" [labelTextRange]="labelTextPE" (selectedDateRange)="set_SelectedDateRangeEcheance($event)"></date-range-picker>

      <vex-filtre-autocomplet-select-all *ngIf="this.selectedListModeReglement && this.selectedListModeReglement.length > 0 && this.selectedListModeReglement.indexOf('1') == -1" style="width: 100%;" [labelText]="labelTextBC"
        [selectedDatas]="dataBanque" [selectedKey]="selectedKeyBq" [selectedVal]="selectedValBq"
        [isSelectedItems]="preSelectedBq" (selectedList)="set_SelectedListBanque($event)">
      </vex-filtre-autocomplet-select-all>

      <vex-filtre-autocomplet-select-all *ngIf="this.dataParams && this.dataParams.isAchat == false" style="width: 100%;" labelText="Client"
        [selectedDatas]="allClients" selectedKey="_id" selectedVal="raisonSociale"
        (selectedList)="set_SelectedListClients($event)">
      </vex-filtre-autocomplet-select-all>

      <vex-filtre-autocomplet-select-all  *ngIf="!(this.dataParams && this.dataParams.isAchat == false)" style="width: 100%;" labelText="Fournisseur"
        [selectedDatas]="allFournisseurs" selectedKey="_id" selectedVal="raisonSociale"
        (selectedList)="set_SelectedListFournisseurs($event)">
      </vex-filtre-autocomplet-select-all>
  
  
      <vex-filtre-autocomplet-select-all  style="width: 100%;" labelText="Utilisateur"
        [selectedDatas]="allUtilisateurs" selectedKey="_id" selectedVal="concatUser"
        (selectedList)="set_SelectedListUtilisateurs($event)">
      </vex-filtre-autocomplet-select-all>
  
      <vex-filtre-autocomplet-select-all [labelText]="'Type Document'" [selectedDatas]="dataTypeDocument"
        [selectedKey]="'value'" [selectedVal]="'key'" [isSelectedItems]="preSelectedTypeDocument"
        (selectedList)="set_SelectedListTypeDocument($event)">
      </vex-filtre-autocomplet-select-all>

      <div class="p-0 container">
        <button class="size-button-standard" mat-flat-button color="primary" (click)="getRegs()" type="submit">
          Recherche
        </button>
      </div>

    </div>

    <div class="card overflow-auto -mt-3">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          <span *ngIf="selection.isEmpty()">{{ this.dataParams && this.dataParams.title ? this.dataParams.title : "" }}</span>
          <span *ngIf="selection.hasValue()">{{ selection.selected.length }} Règlements<span
              *ngIf="selection.selected.length > 1">s</span> selected</span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
          <button (click)="deleteItems(selection.selected)" color="primary" mat-icon-button matTooltip="Delete selected"
            type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon svgIcon="mat:folder"></mat-icon>
          </button>
        </div>

        <mat-form-field subscriptSizing="dynamic">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input matInput [formControl]="searchCtrl" placeholder="Recherche&hellip;" type="text" />
        </mat-form-field>

        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>

        <button (click)="ExportTOExcel()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Export Excel"
          type="button">
          <mat-icon svgIcon="mat:insert_drive_file"></mat-icon>
        </button>

        <button (click)="exportToPdf()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Export PDF"
          type="button">
          <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
        </button>

        <button (click)="openCreateUpdateDialog()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Ajouter" type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
        
      </div>
      <div class="table-container" #TABLE>
        <table [dataSource]="dataSource" class="w-full" mat-table matSort>
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" class="w-4" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)" color="primary">
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"></td>
          </ng-container>

          <!-- Text Columns -->

          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>

                <ng-template [ngIf]="column.property == 'numero'">
                  <ng-container>{{ row[column.property] }}</ng-container>
                </ng-template>
                <ng-template [ngIf]="column.property == 'dateString'">
                  <ng-container>{{ row[column.property] }}</ng-container>
                </ng-template>
                <ng-template [ngIf]="column.property == 'montantString'" style="float:right;">
                  <ng-container> <span style="float: right"> {{ row[column.property] }} </span> </ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'clientString'">
                  <ng-container> {{ row[column.property] }}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'fournisseurString'">
                  <ng-container> {{ row[column.property] }}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'utilisateurString'">
                  <ng-container> {{ row[column.property] }} </ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'modeReglementString'">
                  <ng-container>{{row[column.property]}}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'typeString'">
                  <ng-container>{{ row[column.property] }}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'numPiece'">
                  <ng-container>{{row[column.property]!=undefined ? row[column.property] : ''}}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'dateEcheanceString'">
                  <ng-container>{{row[column.property]}}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'titulaire'">
                  <ng-container>{{row[column.property]!=undefined ? row[column.property] : ''}}</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'banqueString'">
                  <ng-container>
                    {{row[column.property]}}
                  </ng-container>
                </ng-template>

              </td>

              <td mat-footer-cell *matFooterCellDef class="right-aligned-input">

                <ng-template [ngIf]="column.property == 'numero'">
                  <ng-container>TOTAL ( {{dataSource.filteredData.length}} )</ng-container>
                </ng-template>

                <ng-template [ngIf]="column.property == 'montantString'">
                  <ng-container>
                    <span *ngIf="dataSource && column.property == 'montantString' " style="float: right">{{
                      utilService.formatMontant(utilService.sommeTotalOfItemsByKey('montant',
                      dataSource.filteredData)) }}
                    </span>
                  </ng-container>
                </ng-template>

              </td>

            </ng-container>
          </ng-container>

          <!-- Contact Column -->
          <ng-container matColumnDef="contact">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" mat-cell>
              <div class="flex">
                <a (click)="$event.stopPropagation()"
                  class="w-8 h-8 p-0 leading-none flex items-center justify-center hover:bg-hover text-primary-600 bg-primary-600/10"
                  mat-icon-button>
                  <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
                </a>

                <a (click)="$event.stopPropagation()"
                  class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal-600 bg-teal/10"
                  mat-icon-button>
                  <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
                </a>

                <a (click)="$event.stopPropagation()"
                  class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green-600 bg-green-600/10"
                  mat-icon-button>
                  <mat-icon class="icon-sm" svgIcon="mat:map"></mat-icon>
                </a>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"></td>
          </ng-container>

          <!-- Label Column -->
          <ng-container matColumnDef="labels">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
              Labels
            </th>
            <td *matCellDef="let row" mat-cell>
              <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
                <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]"
                  class="rounded px-2 py-1 font-medium text-xs flex-none">
                  {{ label.text }}
                </div>
                <div class="bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
                  <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"></td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ reg: row }"
                [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"></td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row class="mat-header-row"></tr>
          <tr (click)="update(row)" *matRowDef="let row; columns: visibleColumns"
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer" mat-row></tr>
          <tr *matFooterRowDef="visibleColumns" mat-footer-row class="mat-footer-row"></tr>

        </table>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="mat-menu-item block">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-reg="reg" matMenuContent>
    <button (click)="openImpressionPDF(reg)" mat-menu-item>
      <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
      <span>Imprimer</span>
    </button>
  </ng-template>
</mat-menu>