<!-- <table mat-table [dataSource]="dataSource" matSort>

    <!-- Définir les colonnes de la table -->
    <!-- <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
     <tbody>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
     </tbody>
    </ng-container> -->

       <!-- Définir les row de la table -->
       <!-- <ng-container *ngFor="let column of displayedRows" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container> -->
  
    <!-- Définir les lignes de données -->
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
   -->

<!-- 

   <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let mois of mois">{{mois}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categorie of categories">
        <td>{{categorie}}</td>
        <td *ngFor="let mois of mois">
          {{data[categorie][mois]}}
        </td>
      </tr>
    </tbody>
  </table> -->

  <!-- <table>
    <thead>
      <tr>
        <th>Header</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td>{{ data.header }}</td>
        <td>{{ data.data }}</td>
      </tr>
    </tbody>
  </table> -->