<vex-secondary-toolbar current="{{
    !isCreateMode()
      ? form.get('reference')?.value
      : 'Ajouter ' + dataParams.title
  }}">
  <vex-breadcrumbs [crumbs]="[dataParams.title]" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<form (ngSubmit)="save()" [formGroup]="form">
  <div class="p-2 container">
    <div class="card p-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 p-2 container">

      <mat-form-field class="flex-auto">
        <mat-label>Date </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [(ngModel)]="selectDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="flex-auto">
        <mat-label>Numéro</mat-label>
        <input cdkFocusInitial [formControl]="inputCtrl" matInput />
        <mat-error *ngIf="form.controls['numero'].hasError('required')">Numero est obligatoire.
        </mat-error>
      </mat-form-field>

      <vex-standart-autocomplete class="flex-auto" fieldId="_id" libelle="Utilisateurs" fieldDisplayed="nom"
        keyOfForm="utilisateur" [value]="defaults.utilisateur" (newItemEvent)="newItemEventUser($event)"
        [modeReturnObjet]="true" [items]="allUtilisateurs" [isRequired]="true">
      </vex-standart-autocomplete>

      <mat-form-field class="flex-auto">
        <mat-label>État </mat-label>
        <mat-select [(value)]="selectedType" formControlName="etat">
          <mat-option *ngFor="let tier of listBonSortie" [value]="tier.key">
            {{ tier.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="card p-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 p-2 container">
      <vex-standart-autocomplete class="flex-auto" fieldId="_id" libelle="Bon Sortie" fieldDisplayed="numero"
        keyOfForm="bon_sortie" [value]="defaults.bon_sortie" (newItemEvent)="newItemEventDep($event)"
        [modeReturnObjet]="true" [items]="allBonSorties" [isRequired]="true">
      </vex-standart-autocomplete>

      <button color="primary" mat-flat-button type="button" class="button-ligne-article" (click)="addDetails()">
        Détails Bon Sortie
        <mat-icon svgIcon="mat:arrow_downward"></mat-icon>
      </button>

      <vex-standart-autocomplete class="flex-auto" fieldId="_id" libelle="Dépôt Source" fieldDisplayed="libelle"
        keyOfForm="depot_PV_source" [value]="defaults.depot_PV_source" (newItemEvent)="newItemEvent($event)"
        [modeReturnObjet]="true" [items]="allDepots" [isRequired]="true">
      </vex-standart-autocomplete>

      <vex-standart-autocomplete class="flex-auto" fieldId="_id" libelle="Dépôt Destination" fieldDisplayed="libelle"
        keyOfForm="depot_PV_destination" [value]="defaults.depot_PV_destination"
        (newItemEvent)="newItemEventDest($event)" [modeReturnObjet]="true" [items]="allDepotsDest" [isRequired]="true">
      </vex-standart-autocomplete>
      <button style="margin-top:-25px" color="primary" mat-button type="button"
        (click)="isOpenPanelPlusDetails = !isOpenPanelPlusDetails">
        Plus de details
        <mat-icon svgIcon="mat:arrow_downward"></mat-icon>
      </button>
    </div>
  </div>

  <div class="card p-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 p-2 container"
    *ngIf="isOpenPanelPlusDetails">
    <mat-form-field class="flex-auto">
      <mat-label>Véhicule</mat-label>
      <input cdkFocusInitial matInput />
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Chauffeur</mat-label>
      <input cdkFocusInitial matInput />
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <input cdkFocusInitial matInput />
    </mat-form-field>
  </div>

  <div class="p-1 container">
    <vex-ligne-document-entree [documentOriginal]="defaults" (misaJourParent)="newItemEventLigne($event)"
      [allArticles]="allArticlesByDepot" [lignes]="form.controls['lignes'].value">
    </vex-ligne-document-entree>

    <!-- <vex-liste-ligne-document-entree
[allArticles]="allArticles"
[documentOriginal]="documentOriginal"
[lignes]="lignes"
(newItemEvent)="misajourLignes($event)">
</vex-liste-ligne-document-entree> -->

    <div class="p-2 grid grid-cols-1 gap-1 container" style="text-align: right; padding-bottom: 100px">
      <mat-dialog-actions align="end">
        <button mat-button type="button">Annuler</button>
        <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">
          Creer {{ dataParams.title }}
        </button>
        <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">
          Modifier {{ dataParams.title }}
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>supprimer</span>
  </button>
</mat-menu>