.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .class_transport{
    letter-spacing:1px;
    font-size: 15px;
    font-weight: bold;
    color:#4f46e5;

  }

  .title_radio_button{
    display: flex;
    justify-content: space-around;
  }
.display-true{
  display: block;
}
.display-false{
  display: none;
}
  
  /*****/
  
  .button-ligne-article {
    background-color:rgb(13 148 136 / 70%) !important;
    color: #fff;
    padding: 24px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
      display: flex;
      justify-content:center;
  }
  
  .button-ligne-article:hover {
    background-color: #4f5865 !important; /* Couleur de fond au survol */
    color: #fff; /* Couleur de texte au survol */
    transition: all 0.4s linear;
  }
  
  .border-input {
    border-color: red;
  }
  .class-details-bonEntree{
    color:#4f46e5 !important;
    font-weight: 400 !important;
    font-size: 23px !important;
    background-color: none;
    text-decoration: underline;
    display: inline;
  }

  .mybtn{
    height: 3.5rem;
    border-radius: 5px;
    background-color: red;
  }