<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
          *ngIf="defaults?.libelle"
          class="headline m-0 flex-auto">
         Modifier sous type véhicule
        </h2>
        <h2
          *ngIf="!defaults?.libelle"
          class="headline m-0 flex-auto">
          Ajouter sous type véhicule
        </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <vex-standart-autocomplete libelle="Type Véhicule" keyOfForm="type_vehicule" [value]="defaults?.type_vehicule"
      (newItemEvent)="newItemEvent($event)" [modeReturnObjet]="true" [items]="SousType" [isRequired]="true">
    </vex-standart-autocomplete>
    <mat-form-field class="flex-auto">
      <mat-label>Libelle</mat-label>
      <input cdkFocusInitial formControlName="libelle" matInput />
      <mat-error *ngIf="form.controls.libelle.hasError('required')">Veillez inserer la libelle.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">
      Ajouter sous type véhicule
    </button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">
      Modifier sous type véhicule
    </button>
  </mat-dialog-actions>
</form>