<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
    *ngIf="defaults?.libelle"
    class="headline m-0 flex-auto">
   Modifier frais
  </h2>
  <h2
    *ngIf="!defaults?.libelle"
    class="headline m-0 flex-auto">
    Ajouter frais
  </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <vex-standart-autocomplete
      fieldDisplayed="taux"
      fieldId="_id"
      libelle="TauxTva"
      keyOfForm="tauxTVA"
      [value]="defaults?.tauxTVA"
      (newItemEvent)="newItemEvent($event)"
      [modeReturnObjet]="true"
      [items]="TTVA"></vex-standart-autocomplete>

    <mat-form-field class="flex-auto">
      <mat-label>Libelle</mat-label>
      <input cdkFocusInitial formControlName="libelle" matInput />
      <mat-error *ngIf="form.controls.libelle.hasError('required')"
        >Veuillez inserer la libelle.
      </mat-error>
    </mat-form-field>

    <!-- <mat-checkbox  type="checkbox"  class="check" formControlName="direct">{{ isChecked ? 'Directe' : 'non Directe' }}</mat-checkbox> -->

    <!-- <mat-checkbox color="primary"  [checked]="false"  formControlName="direct" align="end">Direct/Non_Direct </mat-checkbox> -->
    <mat-checkbox
      color="primary"
      value="false"
      [checked]="false"
      type="checkbox"
      formControlName="direct"
      >Direct/Indirect</mat-checkbox
    >
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Ajouter frais
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Modifier frais
    </button>
  </mat-dialog-actions>
</form>
