<vex-page-layout>
    <vex-page-layout-header
      class="pb- flex flex-col items-start justify-center"
      style="max-height: 0px">
      <div
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-6]="layoutCtrl.value === 'fullwidth'"
        class="w-full flex flex-col sm:flex-row justify-between">
        <div class="hidden sm:block"></div>
      </div>
    </vex-page-layout-header>
  
    <vex-page-layout-content style="padding-left: 0rem; padding-right: 0rem">
      <div class="card overflow-auto -mt-1">
        <div
          class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
          <h2
            class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
            <span *ngIf="selection.isEmpty()">Lignes</span>
          </h2>
  
          <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
            <button
              (click)="deleteProducts(selection.selected)"
              color="primary"
              mat-icon-button
              matTooltip="Delete selected"
              type="button">
              <mat-icon svgIcon="mat:delete"></mat-icon>
            </button>
  
            <button
              color="primary"
              mat-icon-button
              matTooltip="Another action"
              type="button">
              <mat-icon svgIcon="mat:folder"></mat-icon>
            </button>
          </div>
  
          <mat-form-field subscriptSizing="dynamic">
            <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
            <input
              matInput
              [formControl]="searchCtrl"
              placeholder="Recherche&hellip;"
              type="text" />
          </mat-form-field>
  
          <span class="flex-1"></span>
  
          <button
            [matMenuTriggerFor]="columnFilterMenu"
            class="ml-4 flex-none"
            mat-icon-button
            matTooltip="Filtrer Colonnes"
            type="button">
            <mat-icon svgIcon="mat:filter_list"></mat-icon>
          </button>
        </div>
  
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort>
          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
  
          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="w-8 min-w-8 p-0" mat-cell>
              <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle" />
            </td>
            <td mat-footer-cell *matFooterCellDef ></td>
          </ng-container>
  
          <!-- Text Columns -->
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container
              *ngIf="
                column.type === 'text'
              "
              [matColumnDef]="column.property">
              <th
                *matHeaderCellDef
                class="uppercase"
                mat-header-cell
                mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                {{ row[column.property] }}
              </td>
              <td mat-footer-cell *matFooterCellDef> <span *ngIf="column.property == 'numero'">Total</span> </td>
  
            </ng-container>
  
  
          </ng-container>
  
         
  
          <!-- Label Column -->
         
  
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ product: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef > </td>
  
          </ng-container>
  
    
          <!-- Image Column -->
          <ng-container matColumnDef="reference">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              Référence
            </th>
            <td *matCellDef="let row" class="min-w-8" mat-cell>
              {{ row.article && row.article.reference ? row.article.reference : '' }}
           </td>
           <td mat-footer-cell *matFooterCellDef></td>
  
          </ng-container>
  
          <!-- Image Column -->
          <ng-container matColumnDef="designation">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              Désignation
            </th>
            <td *matCellDef="let row" class="min-w-8" mat-cell>
              {{ row.article && row.article.designation ? row.article.designation : '' }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
  
          </ng-container>
  
  
       
  
     <!-- Image Column -->
        <!-- unitee 1 -->
     <ng-container matColumnDef="unite1">
      <th
        *matHeaderCellDef
        class="uppercase"
        mat-header-cell
        mat-sort-header>
        Unité-1
      </th>
      <td *matCellDef="let row" class="min-w-8" mat-cell>
        {{ row.article.unite1 && row.article.unite1.libelle ? row.article.unite1.libelle : '' }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
  
    </ng-container>



        <!-- unitee 2-->
        <ng-container matColumnDef="unite2">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header>
            Unité-2
          </th>
          <td *matCellDef="let row" class="min-w-8" mat-cell>
            {{ row.article.unite2 && row.article.unite2.libelle ? row.article.unite2.libelle : '' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      
        </ng-container>


          <ng-container matColumnDef="quantiteUnite1">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              QTE1
            </th>
            <td *matCellDef="let row" class="min-w-8" mat-cell>
              <mat-form-field class="mt-4">
                <mat-label>QTE1</mat-label>
                <input
                  appQuantiteDecimaNumber
                  class="right-aligned-input"
                  cdkFocusInitial
                  [(ngModel)]="row.quantiteUnite1"
                  (change)="changeQuantite1(row); addChangeEvent();" 
                  matInput
                  [readonly]="!row.isQte1" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> {{ utilService.roundmQuantiteString(utilService.sommeTotalOfItemsByKey('quantiteUnite1', dataSource.filteredData)) }} </td>
  
          </ng-container>




          <ng-container matColumnDef="quantiteUnite2">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              QTE2
            </th>
            <td *matCellDef="let row" class="min-w-8" mat-cell>
              <mat-form-field class="mt-4">
                <mat-label>QTE2</mat-label>
                <input
                  appQuantiteDecimaNumber
                  class="right-aligned-input"
                  cdkFocusInitial
                  [(ngModel)]="row.quantiteUnite2"
                  (change)="changeQuantite1(row); addChangeEvent();" 
                  matInput
                  [readonly]="!row.isQte2" />
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> {{ utilService.roundmQuantiteString(utilService.sommeTotalOfItemsByKey('quantiteUnite2', dataSource.filteredData)) }} </td>
  
          </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr
            *matRowDef="let row; columns: visibleColumns"
            @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
            mat-row></tr>
            <tr *matFooterRowDef="visibleColumns" mat-footer-row></tr>
  
        </table>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>
  
  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button
      (click)="toggleColumnVisibility(column, $event)"
      *ngFor="let column of columns"
      class="mat-menu-item block">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        [(ngModel)]="column.visible"
        color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>
  
  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-product="product" matMenuContent>
      <button (click)="deleteProduct(product)" mat-menu-item>
        <mat-icon svgIcon="mat:delete"></mat-icon>
        <span>supprimer</span>
      </button>
    </ng-template>
  </mat-menu>
  