<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
      <h2 class="headline m-0 flex-auto"> Chemin du compte </h2>

      <button class="text-secondary"  mat-dialog-close mat-icon-button type="button">
        <mat-icon svgIcon="mat:close"></mat-icon>
      </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">

      <vex-standart-autocomplete fieldId="_id" fieldDisplayed="raisonSociale" libelle="Societe" [value]="form.value.societe"
          [parentForm]="form"      [isRequired]="true"  [items]="societes"   keyOfForm="societe"
                                 (newItemEvent)="newItemEvent($event)" [modeReturnObjet]="true" >
      </vex-standart-autocomplete>
      <vex-standart-autocomplete fieldId="_id" fieldDisplayed="libelle" libelle="Point de vente"  [value]="form.value.pointvente"
           [parentForm]="form"     [isRequired]="true"   [items]="point_vente_local" keyOfForm="pointvente"
                                 (newItemEvent)="newItemEvent($event)" [modeReturnObjet]="true" >
      </vex-standart-autocomplete>
      <vex-standart-autocomplete fieldId="_id" fieldDisplayed="annee_exercice" libelle="Exercice"  [value]="form.value.exercice"
           [parentForm]="form"     [isRequired]="true"    keyOfForm="exercice"
                                 (newItemEvent)="newItemEvent($event)" [modeReturnObjet]="true" [items]="excercice_local">
      </vex-standart-autocomplete>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
      <button color="primary" mat-flat-button type="submit"> Valider </button>
  </mat-dialog-actions>

</form>


