<div class="flex items-center" mat-dialog-title>

    <h2 class="headline m-0 flex-auto">
        {{mode === 'update' ? 'Modifier Produit' : 'Ajouter Produit'}}
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content class="flex flex-col">

    <vex-product-create-update (closePopupEvent)="closePopup($event)" [modePopup]="true" [id]="data.idProduct" ></vex-product-create-update>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <!--<button mat-button mat-dialog-close type="button">Annuler</button>
    <button color="primary" mat-flat-button type="submit">
        Ajouter Règlement
    </button>-->
</mat-dialog-actions>