<vex-page-layout>
  <vex-page-layout-header style="height: 20px;" class="pb-3 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-6]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">

      <!--<vex-filtre-dates></vex-filtre-dates>-->

      <br>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-6]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card overflow-auto -mt-3">

      <div class="card p-2 mt-2 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 gap-1 w-full -mt-3"
      [formGroup]="form">

        <div class="p-0 grid grid-cols-1 gap-1 container">
          <vex-standart-autocomplete libelle="Client" fieldId="_id" fieldDisplayed="raisonSociale"
            (newItemEvent)="newItemEvent($event)" keyOfForm="client" [parentForm]="form" [isRequired]="true"
            [items]="allClients"></vex-standart-autocomplete>
        </div>

        <div>
          <date-range-picker labelTextRange="Période" (selectedDateRange)="set_SelectedDateRange($event)">
          </date-range-picker>
        </div>

        <mat-form-field [color]="selectCtrl.value" class="flex-none">
          <mat-label>Status Paiement</mat-label>
          <mat-select formControlName="payee" placeholder="Payée">
            <mat-option [value]="enum_status_paiement.tous">Tous</mat-option>
            <mat-option [value]="enum_status_paiement.payee">Payée</mat-option>
            <mat-option [value]="enum_status_paiement.nonpayee">Non Payée</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="p-0 container">
          <button class="size-button-standard" mat-flat-button color="primary" (click)="getDocs()"
            type="submit">
            Recherche
          </button>
        </div>

      </div>

      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
          <span *ngIf="selection.isEmpty()">{{ dataParams.title }}</span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
          <button (click)="deleteProducts(selection.selected)" color="primary" mat-icon-button
            matTooltip="Delete selected" type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon svgIcon="mat:folder"></mat-icon>
          </button>
        </div>

        <mat-form-field subscriptSizing="dynamic">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input matInput [formControl]="searchCtrl" placeholder="Recherche&hellip;" type="text" />
        </mat-form-field>

        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
          matTooltip="Filtrer les colonnes" type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>

        <button (click)="ExportTOExcel()" class="ml-4 flex-none" color="primary" mat-mini-fab
          matTooltip="Export Excel" type="button">
          <mat-icon svgIcon="mat:insert_drive_file"></mat-icon>
        </button>

        <button (click)="exportToPdf()" class="ml-4 flex-none" color="primary" mat-mini-fab
          matTooltip="Export PDF" type="button">
          <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
        </button>

        <button (click)="createProduct()" class="ml-4 flex-none" color="primary" mat-mini-fab
          [matTooltip]="'Ajouter ' + dataParams.title" type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <div class="table-container" #TABLE>
        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text' && column.property === 'numero'"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                {{ row[column.property] }}
                {{ row.documentPrecedent[0] ?'\n'+row.documentPrecedent[row.documentPrecedent.length-1].numero : '' }}
              </td>
              <td mat-footer-cell *matFooterCellDef> <span *ngIf="column.property == 'numero'">Total</span> </td>
            </ng-container>

            <ng-container *ngIf="column.type === 'text' && column.property !== 'numero'"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" class="p-5 right-aligned-input" mat-cell>
                {{ getMontantRoundom(row[column.property]) }}
              </td>
              <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> {{
                utilService.roundmMontantString(utilService.sommeTotalOfItemsByKey(column.property,
                dataSource ? dataSource.filteredData : [])) }} </td>
            </ng-container>
          </ng-container>

          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
            <td *matCellDef="let row" class="text-secondary" mat-cell>
              {{ getDateFormat(row.date) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> </td>
          </ng-container>

          <ng-container matColumnDef="clientLibelle">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>CLIENT</th>
            <td *matCellDef="let row" class="text-secondary" mat-cell>
              {{ row.client ? row.client.raisonSociale : '-' }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> </td>
          </ng-container>

          <ng-container matColumnDef="utilisateur">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>UTILISATEUR</th>
            <td *matCellDef="let row" class="text-secondary" mat-cell>
              {{ row.utilisateur && row.utilisateur.nom ? row.utilisateur.nom : '-' }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="right-aligned-input"> </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="mat-actions-row" mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary mat-actions-row" mat-cell>
              <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ product: row }"
                [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef class="mat-actions-row"></td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row class="mat-header-row"></tr>
          <tr (click)="updateItem(row);" *matRowDef="let row; columns: visibleColumns" @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer" mat-row></tr>
          <tr *matFooterRowDef="visibleColumns" mat-footer-row class="mat-footer-row"></tr>

        </table>
      </div>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="mat-menu-item block">
    <mat-checkbox (click)="saveColumnVisibility(); $event.stopPropagation()" [(ngModel)]="column.visible"
      color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-product="product" matMenuContent>
    <button (click)="updateItem(product)" mat-menu-item>
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Modifier</span>
    </button>
    <button *ngIf="dataParams?.tableDocumentPrecedent == 'tickets'" (click)="consulterTicket(product)" mat-menu-item>
      <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
      <span>Imprimer</span>
    </button>
    <button *ngIf="!dataParams.withCheckMultipleDocumentPrecedent && dataParams?.tableDocumentPrecedent != 'tickets'"
            (click)="openImpressionPDF(product)" mat-menu-item>
      <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
      <span>Imprimer</span>
    </button>
    <button *ngIf="dataParams.withCheckMultipleDocumentPrecedent === true"
      (click)="openImpressionPDF(product, enum_modes_imprission.modeSansRegroupement)" mat-menu-item>
      <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
      <span>Imprimer (Regroupement par documents)</span>
    </button>
    <button *ngIf="dataParams.withCheckMultipleDocumentPrecedent === true"
      (click)="openImpressionPDF(product, enum_modes_imprission.modeWithRegroupement)" mat-menu-item>
      <mat-icon svgIcon="mat:picture_as_pdf"></mat-icon>
      <span>Imprimer (Regroupement par articles)</span>
    </button>
    <button (click)="deleteProduct(product)" mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Supprimer</span>
    </button>
  </ng-template>
</mat-menu>
